.search_wrapper {
  background-color: #f2f2f2;
  max-width: 500px;

  width: 100%;
  border-radius: 50px;
  padding: 10px 10px;
}
.search_wrapper .input {
  background-color: transparent;
  font-size: 16px;
  height: 100%;
  border-right: 1px solid #dadada;
  min-height: 30px;
  padding: 0px 12px;
  font-family: inherit;
}
.search_wrapper .input::placeholder {
  color: rgba(156, 163, 175, 255);
  font-size: 16px;
}
.search_btn {
  width: 72px;
  display: flex;
  justify-content: center;
}
