* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input {
  outline: none;
  border: 0;
}
input:focus {
  outline: none;
  border: 0;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0px 20px;
}
.footer_container {
  max-width: 1600px;
  margin-inline: auto;
  padding: 0px 20px;
}
.img-bg-trans {
  mix-blend-mode: multiply;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.py-3 {
  padding: 12px 0px;
}
.w-100 {
  width: 100%;
}
.mb-3 {
  margin-bottom: 12px;
}
.section_wrapper {
  padding: 50px 0px;
}
.main_logo {
  max-width: 200px;
  width: 100%;
  max-height: 42px;
}
.flex-wrap {
  flex-wrap: wrap;
}
.d-none {
  display: none;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  /* content: "" !important; */
  /* background-image: url("../../public/images/forward.png") !important; */
  background-repeat: no-repeat;
  /* background-position: center;
  background-size: cover; */
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  /* background-image: url("../../public/images/back.png") !important; */
  background-repeat: no-repeat;
  /* background-position: center;
  background-size: cover; */
}
.relative {
  position: relative;
}
.px-5 {
  padding: 0px 20px !important;
}
.obj-cover {
  object-fit: cover;
}
.overflow- {
  overflow: visible;
}
.next_btn {
  position: absolute;
  right: -2px;
  top: 50%;
  z-index: 10000;
  transform: translateY(-50%);

  background-color: #fff;
}
.prev_btn {
  position: absolute;
  left: -2px;
  top: 50%;
  z-index: 10000;
  transform: translateY(-50%);
  background-color: #fff;
}

/* =================== */
/* display */
.grid {
  display: grid;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.row-span-2 {
  grid-row: span 2 / span 2;
}
.row-span-3 {
  grid-row: span 3 / span 3;
}
.row-span-4 {
  grid-row: span 4 / span 4;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
/* gaps */
.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 16px;
}
.gap-4 {
  gap: 24px;
}
.gap-5 {
  gap: 32px;
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 592px) {
  /* .container {
      max-width: 540px;
    } */
  .mw-sm-100 {
    max-width: 100%;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-inline-flex {
    display: inline-flex;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-none {
    display: none;
  }
  .d-sm-inline-block {
    display: inline-block;
  }
  .d-sm-inline-grid {
    display: inline-grid;
  }
  .grid-cols-sm-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid-cols-sm-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-cols-sm-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-cols-sm-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-cols-sm-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .row-span-sm-2 {
    grid-row: span 2 / span 2;
  }
  .row-span-sm-3 {
    grid-row: span 3 / span 3;
  }
  .row-span-sm-4 {
    grid-row: span 4 / span 4;
  }
  .col-span-sm-2 {
    grid-column: span 2 / span 2;
  }
  .col-span-sm-3 {
    grid-column: span 3 / span 3;
  }
  .col-span-sm-4 {
    grid-column: span 4 / span 4;
  }
  .align-items-sm-start {
    align-items: flex-start;
  }
  .align-items-sm-center {
    align-items: center;
  }
  .align-items-sm-end {
    align-items: flex-end;
  }

  .justify-content-sm-start {
    justify-content: flex-start;
  }
  .justify-content-sm-center {
    justify-content: center;
  }
  .justify-content-sm-end {
    justify-content: flex-end;
  }
  /* gaps */
  .gap-sm-1 {
    gap: 4px;
  }
  .gap-sm-2 {
    gap: 8px;
  }
  .gap-sm-3 {
    gap: 16px;
  }
  .gap-sm-4 {
    gap: 24px;
  }
  .gap-sm-5 {
    gap: 32px;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .container {
      max-width: 720px;
    } */
  .mw-md-100 {
    max-width: 100%;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-inline-flex {
    display: inline-flex;
  }
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  .d-md-inline-grid {
    display: inline-grid;
  }
  .grid-cols-md-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid-cols-md-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-cols-md-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-cols-md-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-cols-md-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .row-span-md-2 {
    grid-row: span 2 / span 2;
  }
  .row-span-md-3 {
    grid-row: span 3 / span 3;
  }
  .row-span-md-4 {
    grid-row: span 4 / span 4;
  }
  .col-span-md-2 {
    grid-column: span 2 / span 2;
  }
  .col-span-md-3 {
    grid-column: span 3 / span 3;
  }
  .col-span-md-4 {
    grid-column: span 4 / span 4;
  }
  .align-items-md-start {
    align-items: flex-start;
  }
  .align-items-md-center {
    align-items: center;
  }
  .align-items-md-end {
    align-items: flex-end;
  }

  .justify-content-md-start {
    justify-content: flex-start;
  }
  .justify-content-md-center {
    justify-content: center;
  }
  .justify-content-md-end {
    justify-content: flex-end;
  }
  /* gaps */
  .gap-md-1 {
    gap: 4px;
  }
  .gap-md-2 {
    gap: 8px;
  }
  .gap-md-3 {
    gap: 16px;
  }
  .gap-md-4 {
    gap: 24px;
  }
  .gap-md-5 {
    gap: 32px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .container {
      max-width: 960px;
    } */
  .mw-lg-100 {
    max-width: 100%;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-inline-flex {
    display: inline-flex;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-none {
    display: none;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-inline-grid {
    display: inline-grid;
  }
  .grid-cols-lg-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid-cols-lg-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-cols-lg-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-cols-lg-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-cols-lg-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .row-span-lg-2 {
    grid-row: span 2 / span 2;
  }
  .row-span-lg-3 {
    grid-row: span 3 / span 3;
  }
  .row-span-lg-4 {
    grid-row: span 4 / span 4;
  }
  .col-span-lg-2 {
    grid-column: span 2 / span 2;
  }
  .col-span-lg-3 {
    grid-column: span 3 / span 3;
  }
  .col-span-lg-4 {
    grid-column: span 4 / span 4;
  }
  .align-items-lg-start {
    align-items: flex-start;
  }
  .align-items-lg-center {
    align-items: center;
  }
  .align-items-lg-end {
    align-items: flex-end;
  }
  .justify-content-lg-start {
    justify-content: flex-start;
  }
  .justify-content-lg-center {
    justify-content: center;
  }
  .justify-content-lg-end {
    justify-content: flex-end;
  }
  /* gaps */
  .gap-lg-1 {
    gap: 4px;
  }
  .gap-lg-2 {
    gap: 8px;
  }
  .gap-lg-3 {
    gap: 16px;
  }
  .gap-lg-4 {
    gap: 24px;
  }
  .gap-lg-5 {
    gap: 32px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* .container {
      max-width: 1140px;
    } */
  .mw-xl-100 {
    max-width: 100%;
  }
  .d-xl-flex {
    display: flex;
  }
  .d-xl-inline-flex {
    display: inline-flex;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-none {
    display: none;
  }
  .d-xl-inline-block {
    display: inline-block;
  }
  .d-xl-inline-grid {
    display: inline-grid;
  }
  .grid-cols-xl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid-cols-xl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-cols-xl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-cols-xl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-cols-xl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .row-span-xl-2 {
    grid-row: span 2 / span 2;
  }
  .row-span-xl-3 {
    grid-row: span 3 / span 3;
  }
  .row-span-xl-4 {
    grid-row: span 4 / span 4;
  }
  .col-span-xl-2 {
    grid-column: span 2 / span 2;
  }
  .col-span-xl-3 {
    grid-column: span 3 / span 3;
  }
  .col-span-xl-4 {
    grid-column: span 4 / span 4;
  }
  .align-items-xl-start {
    align-items: flex-start;
  }
  .align-items-xl-center {
    align-items: center;
  }
  .align-items-xl-end {
    align-items: flex-end;
  }

  .justify-content-xl-start {
    justify-content: flex-start;
  }
  .justify-content-xl-center {
    justify-content: center;
  }
  .justify-content-xl-end {
    justify-content: flex-end;
  }
  /* gaps */
  .gap-xl-1 {
    gap: 4px;
  }
  .gap-xl-2 {
    gap: 8px;
  }
  .gap-xl-3 {
    gap: 16px;
  }
  .gap-xl-4 {
    gap: 24px;
  }
  .gap-xl-5 {
    gap: 32px;
  }
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* .container {
      max-width: 1140px;
    } */
  .mw-xxl-100 {
    max-width: 100%;
  }
  .d-xxl-flex {
    display: flex;
  }
  .d-xxl-inline-flex {
    display: inline-flex;
  }
  .d-xxl-block {
    display: block;
  }
  .d-xxl-none {
    display: none;
  }
  .d-xxl-inline-block {
    display: inline-block;
  }
  .d-xxl-inline-grid {
    display: inline-grid;
  }
  .grid-cols-xxl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid-cols-xxl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-cols-xxl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-cols-xxl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-cols-xxl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .row-span-xxl-2 {
    grid-row: span 2 / span 2;
  }
  .row-span-xxl-3 {
    grid-row: span 3 / span 3;
  }
  .row-span-xxl-4 {
    grid-row: span 4 / span 4;
  }
  .col-span-xxl-2 {
    grid-column: span 2 / span 2;
  }
  .col-span-xxl-3 {
    grid-column: span 3 / span 3;
  }
  .col-span-xxl-4 {
    grid-column: span 4 / span 4;
  }
  .align-items-xxl-start {
    align-items: flex-start;
  }
  .align-items-xxl-center {
    align-items: center;
  }
  .align-items-xxl-end {
    align-items: flex-end;
  }
  .justify-content-xxl-start {
    justify-content: flex-start;
  }
  .justify-content-xxl-center {
    justify-content: center;
  }
  .justify-content-xxl-end {
    justify-content: flex-end;
  }
  /* gaps */
  .gap-xxl-1 {
    gap: 4px;
  }
  .gap-xxl-2 {
    gap: 8px;
  }
  .gap-xxl-3 {
    gap: 16px;
  }
  .gap-xxl-4 {
    gap: 24px;
  }
  .gap-xxl-5 {
    gap: 32px;
  }
}
